/*pag1*/

body {
    background-color: rgb(179, 137, 135);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



.title {
    position: absolute;
    left: 520px;
    top: 5px;
}

.cabecaco {
    background-color: rgb(211, 158, 155);
    margin-top: -25px;
    margin-left: -25px;
    margin-right: -25px;
    width: 100%vh;
    height: 100px;
}

.pag1 {
    position: absolute;
    display: grid;
    user-select: none;
    grid-template-columns: 33px 33px 33px;
    gap: 100px;
    left: 35%;
    top: 35%;
  
}

.mode {
    display: flex;
    background-color: rgb(27, 163, 27);
    border-radius: 15%;
    box-shadow: 5px 5px 0px 0px rgb(107, 100, 100);
    user-select: none;
    padding: 150%;
    align-items: center;
    justify-content: center;
}


.mode:hover {
    transform: scale(0.9);
    cursor: pointer;
}

.mode:active {
    transform: scale(1.2);
    
}


/*pag1*/

/*reps*/
.repgrid {
    position: absolute;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    row-gap:10px;
    column-gap: 50px;
    left: 34%;
    top: 41%;
    align-items: center;
    justify-items: center;

}

.rep {
    display: flex;
    background-color: rgb(44, 219, 205);
    border-radius: 30px;
    padding: 75px;
    user-select: none;
    box-shadow: 5px 5px 0px 0px rgb(107, 100, 100);
    overflow: hidden;
    height: 20px;
    width: 20px;
    align-items: center;
    justify-content: center;
}

.rep:hover{
    transform: scale(0.9);
    cursor: pointer;
}

.rep:active{
    transform: scale(1.1);
}
/*reps*/


/*flags*/
.bandivs {
    position: absolute;
    left: 40%;
    top: 5%;
  
}

.flag {
    width: 270px;
    height: 204px;
    box-shadow: 5px 5px 0px 0px rgb(107, 100, 100);
}
/*flags*/

.placar {
    display: grid;
    position: absolute;
    left: -300px;
    grid-template-columns: 50% 50%;
    column-gap: 20px;

}
#NAcertos{
    left: 60px;
}

#Pontos {
    position: absolute;
    grid-template-columns: 50% 50%;
    column-gap: 50px;
    width: 70px;
    height: 20px;
    left: 200px;
}

.transition {
    transition: background-color 0.5s ease;

    animation: verde 1s ease;
}

@keyframes verde {
    50%{
        background-color: greenyellow;
    }

    100% {
        background-color: transparent;
    }
  }